.signup {
  height: 100vh;
  background: azure;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 100%;
    margin: auto;

    h1 {
      color: #39f;
      border: 2px solid #39f;
      padding: 1px 8px;
      background: #fff;
      font-size: 2rem;
    }

    input,
    button {
      padding: 1px 10px;
      font-weight: 500;
      width: 20rem;
      height: 2rem;
      margin: 0.8rem;
      text-decoration: none;
      outline: none;
      font-size: 0.895rem;

      &:required {
        box-shadow: none;
      }
    }

    option:disabled {
      color: black;
      font-weight: bold;
    }

    .test {
      //padding: 1px 10px;
      font-weight: 500;
      width: 21.5rem;
      height: 2.5rem;
      margin: 0.7rem;
      text-decoration: none;
      outline: none;
      font-size: 0.895rem;
      min-height: 26px;
    }
    .test2 {
      border-radius: 0;
      //position: relative;
      background-color: white;
      //font-weight: 500;
      padding: 1px 10px;
      height: 3rem;
      //padding: 10px 26px 10px 12px;
      //transition: theme.transitions.create(['border-color', 'box-shadow']),
      // Use the system font instead of the default Roboto font.
      border: 0.5px solid #9b9b9b;
      //box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    .select__control {
      height: 26px;
      .select__placeholder {
        line-height: 26px;
      }
      .select__value-container {
        line-height: 10px;
      }
      .select__value {
        line-height: 26px !important;

        .select__value-label {
          line-height: 26px;
        }
        .select__value-container {
          line-height: 26px;
        }
      }
      .select__input {
        height: 26px;
      }
      .select__indicators, .select__indicator-separator {
        height: 30px;
      }
    }

    button {
      border-radius: 45px;
      border: none;
      cursor: pointer;
    }

    .submit {
      background: #39f;
      color: #fff;
    }

    .link {
      margin-top: 0.5rem;
      text-decoration: none;
      padding: 0.5rem 3rem;
      background: #fff;
      border: solid 1px #39f;
      color: #39f;
    }
  }
}
